*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: url('https://resource.logitech.com/w_1800,h_1800,c_limit,q_auto,f_auto,dpr_2.0/d_transparent.gif/content/dam/logitech/en/homepage/mx-brio-hpb-desktop.jpg?v=1');  
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}