*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent{
    background-color: black;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns:repeat(4,50px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content:center ;
    
}
.child{
    height: 50px;
    width: 50px;
    background-color: red;
    color: white;
    border: 1px solid white;
}
