*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent{
    background-color: black;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    /* justify-content: center;
    align-items: center;
    align-content:center ; */
    
}
.child{
    /* height: 50px;
    width: 50px; */
    background-color: red;
    color: white;
    border: 1px solid white;
    font-size: 32px;
}
.child9{
    grid-column-start: 2;
    grid-column-end: 5;
}
.child5{
    grid-row-start: 2;
    grid-row-end:4;
}
