@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainDiv{
    display: flex;
    background-color:  hsl(244, 37%, 16%);
    width: 70vw;
}
.leftDiv{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stats{
    display:flex;
    justify-content: space-between;
}
h1{
   color:hsl(0, 0%, 100%);
   font-size: 40px;
}
.stat>h2{
    color:hsl(0, 0%, 100%);
}

.stat>p{
    color: hsla(0, 0%, 100%, 0.6);
}
.content{
    color:hsla(0, 0%, 100%, 0.75);
    line-height:25px ;
}